*{
    box-sizing: border-box;
    padding:0;
    margin:0;
    font-family: monospace;
}
html,body{
    width:100%;
    height:100%;
}
main{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;  
    background-color: black;  
}
.outer{
    background-color: white;
    height: 25%;
    width: 50%;
    border-radius: 2px;
    padding:1vw;
     display:flex;
    flex-direction:column;
    justify-content: space-evenly;
}
.inner{
    background-color:grey;
    height:20px;
    border:none;
    border-radius:1rem;
    overflow:hidden;
}
.progressBar{
    background-color: green;
    height: 100%;
    width: 0%;
}
h1{
    font-size: 1.5rem;
    text-align: center;
}
.percent_button_container{
    display:flex;
    justify-content: space-around;
}
.percent_button_container p{
    font-size:2.7rem;
}
button{
    border: none;
    border-radius: 2px;
    color: white;
    background-color: green;
    padding: 0.5rem;
}
button:active{
    scale: 0.8;
}

i{
    color: rgb(0, 115, 255);
}